APP_PORT=8081
APP_ENV=dev
APP_SECRET=
APP_SHARE_DIR=var/share
DEFAULT_URI=http://localhost:${APP_PORT}
RATES_FILE=var/rates.json
DEFAULT_BASE_CURRENCY=USD
ALLOWED_BASE_CURRENCIES=USD
FIATS_URL=https://fiatrates.example/%s.json
CRYPTO_URL=https://cryptorates.example?quotes=%s
